<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Harry Potter Magical Match-3 Puzzle Game | Zynga - Portkey</title>
  <meta name="description"
        content="Celebrate the magic of Harry Potter with the new free online match-3 puzzle game! Prepare to master spells and explore the wonders of the Wizarding World.">

  <meta name="keywords"
        content="puzzle games, match game, online puzzle games, match 3 games, match 3, free match 3 games, harry potter app, harry potter game, harry potter online, harry potter puzzle, harry potter games online" />

  <!-- Open Graph data -->
  <meta property="og:locale" content="en" />
  <meta property="og:locale:alternate" content="nl" />
  <meta property="og:locale:alternate" content="fr" />
  <meta property="og:locale:alternate" content="de" />
  <meta property="og:locale:alternate" content="it" />
  <meta property="og:locale:alternate" content="jp" />
  <meta property="og:locale:alternate" content="ko" />
  <meta property="og:locale:alternate" content="pl" />
  <meta property="og:locale:alternate" content="pt_BR" />
  <meta property="og:locale:alternate" content="ru" />
  <meta property="og:locale:alternate" content="zh_Hans" />
  <meta property="og:locale:alternate" content="es" />
  <meta property="og:locale:alternate" content="zh" />
  <meta property="og:locale:alternate" content="tr" />
  <meta property="og:title" content="Harry Potter Magical Match-3 Puzzle Game | Zynga - Portkey" />
  <meta property="og:description"
        content="Celebrate the magic of Harry Potter with the new free online match-3 puzzle game! Prepare to master spells and explore the wonders of the Wizarding World." />

  <!-- Twitter Card data -->
  <meta name="twitter:site" content="http://harrypotterpuzzlesandspells.com">
  <meta name="twitter:title" content="Harry Potter Magical Match-3 Puzzle Game | Zynga - Portkey">
  <meta name="twitter:description"
        content="Celebrate the magic of Harry Potter with the new free online match-3 puzzle game! Prepare to master spells and explore the wonders of the Wizarding World.">


  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Lora:400,700|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163279992-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-163279992-1');
  </script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KFLCXG6');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="page-en">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFLCXG6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="header_en">
    <div class="container">
      <div class="banner">
        <button id="btn-menu" class="hamburger hamburger--slider hamburger--collapse" type="button" aria-label="Menu">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <nav id="main-menu" class="nav-main">
          <ul>
            <li>
              <a id="menu-item-1" class="menu-item active" href="#home">
                Home
              </a>
            </li>

            <li>
              <a id="menu-item-2" class="menu-item" href="#trailer">
                Trailer
              </a>
            </li>

            <li>
              <a id="menu-item-3" class="menu-item" href="#about">
                About
              </a>
            </li>

            <li>
              <a id="menu-item-4" class="menu-item" href="#features">
                Features
              </a>
            </li>

            <li>
              <a id="menu-item-5" class="" href="https://harrypotterpuzzlesandspells.com/en/faq">
                FAQ
              </a>
            </li>
          </ul>
        </nav>

        <div class="share-top">
          <ul class="share-top__list">
            <li class="share-top__item">
              <a id="share-facebook" href="https://www.facebook.com/harrypotterpuzzlesandspells/" target="_blank" rel="noopener noreferrer">
                <img src="/images/icons/facebook.svg" alt="Facebook" height="28" width="auto">
              </a>
            </li>
            <li class="share-top__item">
              <a id="share-instagram" href="https://www.instagram.com/harrypotterpuzzlesandspells/" target="_blank"
                 rel="noopener noreferrer">
                <img src="/images/icons/instagram.svg" alt="Instagram" height="28" width="auto">
              </a>
            </li>
            <li class="share-top__item">
              <a id="share-twitter" href="https://twitter.com/hppuzzlesspells/" target="_blank" rel="noopener noreferrer">
                <img src="/images/icons/twitter.svg" alt="Twitter" height="28" width="auto">
              </a>
            </li>
            <li class="share-top__item">
              <a id="share-email"
                 href="mailto:?&subject=Harry Potter Magical Match-3 Puzzle Game | Zynga - Portkey&body=Celebrate the magic of Harry Potter with the new free online match-3 puzzle game! Prepare to master spells and explore the wonders of the Wizarding World.%20https%3A%2F%2Fharrypotterpuzzlesandspells.com">
                <img src="/images/icons/email.svg" alt="Email" height="28" width="auto">
              </a>
            </li>
          </ul>
        </div>


        <div class="lang">

          <button class="lang__selected">
            English <img src="/images/icons/chevron-down.svg" alt="Arrow Down">
          </button>

          <div class="bubble">
            <ul class="lang__list">



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/nl/"
                   hreflang="https://harrypotterpuzzlesandspells.com/nl/">
                  Nederlands
                </a>
              </li>




              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/fr/"
                   hreflang="https://harrypotterpuzzlesandspells.com/fr/">
                  Français
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/de/"
                   hreflang="https://harrypotterpuzzlesandspells.com/de/">
                  Deutsch
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/it/"
                   hreflang="https://harrypotterpuzzlesandspells.com/it/">
                  Italiano
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/jp/"
                   hreflang="https://harrypotterpuzzlesandspells.com/jp/">
                  日本語
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/ko/"
                   hreflang="https://harrypotterpuzzlesandspells.com/ko/">
                  한국어
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/pl/"
                   hreflang="https://harrypotterpuzzlesandspells.com/pl/">
                  Polski
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/pt_BR/"
                   hreflang="https://harrypotterpuzzlesandspells.com/pt_BR/">
                  Português (Brazil)
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/ru/"
                   hreflang="https://harrypotterpuzzlesandspells.com/ru/">
                  Русский
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/zh_Hans/"
                   hreflang="https://harrypotterpuzzlesandspells.com/zh_Hans/">
                  中文 (简体)
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/es/"
                   hreflang="https://harrypotterpuzzlesandspells.com/es/">
                  Español
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/zh/"
                   hreflang="https://harrypotterpuzzlesandspells.com/zh/">
                  中文 (繁體)
                </a>
              </li>



              <li class="lang__item">
                <a class="lang__link" href="https://harrypotterpuzzlesandspells.com/tr/"
                   hreflang="https://harrypotterpuzzlesandspells.com/tr/">
                  Türkçe
                </a>
              </li>


            </ul>
          </div>
        </div>


      </div>
    </div>
  </header>

  <main class="main">
    <section id="home" data-bg="/images/harry-potter-hero.jpg" style="background-image: url(/images/harry-potter-hero-low.jpg);"
             class="hero blur-up lazyload scrollspy">
      <h1 class="hero__title">
        <a href="https://harrypotterpuzzlesandspells.com">
          <div class="mediabox ratio-4-3">
            <img data-src="/images/logo/logo_en.png" alt="Harry Potter Puzzles &amp; Spells" class="hero__img mediabox-img lazyload">
          </div>
        </a>
      </h1>
    </section>
    <div class="main-title">
      <div class="container">
        <div class="main-title__title">
          <h2>
            <img src="/images/embel.png" alt="Embellishment" width="60" height="auto" class="main-title__embel">
            Play now!
            <img src="/images/embel.png" alt="Embellishment" width="60" height="auto" class="main-title__embel">
          </h2>
        </div>
        <div class="divider"></div>
        <a href="#signup" role="button" aria-label="Scroll Down" class="arrow-down"></a>
      </div>
    </div>
    <div class="store-btns">
      <a role="button" href="https://harrypottermatch3.onelink.me/SPBr/hppsweb" aria-label="AppStore" class="store-btns__item">
        <img data-src="/images/badges/appstore.png" alt="AppStore" class="lazyload">
      </a>
      <a role="button" href="https://harrypottermatch3.onelink.me/SPBr/hppsweb" aria-label="Google Play" class="store-btns__item">
        <img data-src="/images/badges/googleplay.png" alt="Google Play" class="lazyload">
      </a>
      <a role="button" href="https://harrypottermatch3.onelink.me/SPBr/hppsweb" aria-label="Facebook" class="store-btns__item">
        <img data-src="/images/badges/facebook-gaming.png" alt="Facebook" class="lazyload">
      </a>
      <a role="button" href="https://harrypottermatch3.onelink.me/SPBr/hppsweb" aria-label="Amazon" class="store-btns__item">
        <img data-src="/images/badges/amazon.png" alt="Amazon" class="lazyload">
      </a>
    </div>


    <section id="trailer" class="trailer scrollspy">

      <div class="container">

        <img data-src="/images/flying-red-gem.png" alt="Flying red gem" class="lazyload gem gem--red">
        <img data-src="/images/floating-keys.png" alt="Floating keys" class="lazyload keys keys--1">

        <h2 class="title-stars tracking-display">
          <img src="/images/stars.png" alt="Stars" width="auto" height="45" class="title-stars__img">
          <span>Trailer</span>
          <img src="/images/stars.png" alt="Stars" width="auto" height="45" class="title-stars__img">
        </h2>

        <div class="embed-wrap">
          <img src="/images/frame-embel.png" class="video__corner video__corner--top-l" alt="Embellishment">
          <img src="/images/frame-embel.png" class="video__corner video__corner--top-r" alt="Embellishment">
          <img src="/images/frame-embel.png" class="video__corner video__corner--bottom-l" alt="Embellishment">
          <img src="/images/frame-embel.png" class="video__corner video__corner--bottom-r" alt="Embellishment">
          <video id="my_video_1" class="video-js vjs-skin-zynga embed-responsive embed-responsive-16by9" controls preload="auto"
                 data-setup='{ "asdf": true }' poster="/images/trailer-poster-play-now.jpg">
            <source src="/videos/trailer_en.mp4" type='video/mp4'>
          </video>
        </div>

        <img data-src="/images/floating-keys-right.png" alt="Floating keys" class="lazyload keys keys--2">

      </div>

    </section>
    <section id="about" class="about scrollspy">
      <div class="container">
        <img data-src="/images/divider.png" alt="Divider" class="divider-img lazyload">

        <div class="about__content">
          <h2 class="title-stars">
            <img data-src="/images/stars.png" alt="Stars" width="auto" height="45" class="title-stars__img lazyload">
            <span class="tracking-display">Harry Potter: Puzzles & Spells</span>
            <img data-src="/images/stars.png" alt="Stars" width="auto" height="45" class="title-stars__img hide-sm lazyload">
          </h2>
          <p>
            It’s time to represent your Hogwarts house and celebrate the magic of Harry Potter like never before! Prepare to master spells,
            outsmart challenges, and explore the wonders of the Wizarding World while becoming enthralled by the most marvelous matching
            Puzzles ever found on your mobile device!
          </p>
        </div>

        <img data-src="/images/divider.png" alt="Divider" class="divider-img lazyload">
      </div>
    </section>
    <section id="features" class="feat scrollspy">
      <div class="container">

        <div class="feat__item">

          <img data-src="/images/flying-blue-gem.png" alt="Flying blue gem" class="lazyload gem gem--blue">

          <div class="feat__title">
            <div class="feat__divider feat__divider--red"></div>
            <img data-src="/images/embel-red.png" alt="Embellishment" width="auto" height="30" class="lazyload">

            <h3 class="tracking-display">
              Celebrate Iconic Moments </h3>

            <img data-src="/images/embel-red.png" alt="Embellishment" width="auto" height="30" class="lazyload">
            <div class="feat__divider feat__divider--red"></div>
          </div>

          <div class="feat__body">
            <div class="feat__col">
              <div class="mediabox ratio-square">
                <img data-lowsrc="/images/feature-1-low.png" data-src="/images/feature-1.png" alt="Feature 1"
                     class="feat__img mediabox-img lazyload">
              </div>
            </div>
            <div class="feat__col">
              <p>
                With each Puzzle you complete, step further into the wonder and mystery of Harry Potter’s story. Revel in the sights and
                sounds of Diagon Alley, Hogwarts School of Witchcraft and Wizardry, and more of your favourite locations from the Wizarding
                World! Follow Harry, Ron, Hermione, and the other familiar faces as they brew potions, duel with trolls, and uncover the
                magic of the Wizarding World! </p>
            </div>
          </div>

          <img data-src="/images/flying-green-gem.png" alt="Flying green gem" class="lazyload gem gem--green">

        </div><!-- .feature-1 -->

        <div class="feat__item">
          <div class="feat__title">
            <div class="feat__divider feat__divider--blue"></div>
            <img data-src="/images/embel-blue.png" alt="Embellishment" width="auto" height="30" class="lazyload">

            <h3 class="tracking-display">
              Master Magical Spells </h3>

            <img data-src="/images/embel-blue.png" alt="Embellishment" width="auto" height="30" class="lazyload">
            <div class="feat__divider feat__divider--blue"></div>
          </div>

          <div class="feat__body feat__body--reverse">
            <div class="feat__col">
              <div class="mediabox ratio-square">
                <img data-lowsrc="/images/feature-2-low.png" data-src="/images/feature-2.png" alt="Feature 2"
                     class="feat__img mediabox-img lazyload">
              </div>
            </div>
            <div class="feat__col">
              <p>
                With magic at your disposal, you will bravely encounter thrilling challenges! Swish-and-flick your way through unique
                Puzzles as you levitate and dispel obstacles in your way. Earn Points to level up your spells to help you plunge deeper into
                more challenging moments! </p>
            </div>
          </div>
        </div><!-- .feature-2 -->

        <div class="feat__item">

          <img data-src="/images/floating-feathers-left.png" alt="Floating feathers" class="lazyload feathers feathers--left">

          <div class="feat__title">
            <div class="feat__divider feat__divider--gold"></div>
            <img data-src="/images/embel-gold.png" alt="Embellishment" width="auto" height="30" class="lazyload">

            <h3 class="tracking-display">
              Play Engaging Match-3 </h3>

            <img data-src="/images/embel-gold.png" alt="Embellishment" width="auto" height="30" class="lazyload">
            <div class="feat__divider feat__divider--gold"></div>
          </div>

          <div class="feat__body">
            <div class="feat__col">
              <div class="mediabox ratio-square">
                <img data-lowsrc="/images/feature-3-low.png" data-src="/images/feature-3.png" alt="Feature 3"
                     class="feat__img mediabox-img lazyload">
              </div>
            </div>
            <div class="feat__col">
              <p>
                Help Chocolate Frogs hop and Winged Keys fly across hundreds of Match-3 Puzzles! Utilise boosts and power ups to clear
                hazards themed to iconic Harry Potter elements. Participate in spell upgrade events featuring Hogwarts professors, as you
                solve Puzzles themed around Defence Against the Dark Arts, Potions, and other Hogwarts lessons on your way to earning
                fantastic Rewards! </p>
            </div>
          </div>

          <img data-src="/images/floating-feathers-right.png" alt="Floating feathers" class="lazyload feathers feathers--right">

        </div><!-- .feature-3 -->

        <div class="feat__item">

          <div class="feat__title">
            <div class="feat__divider feat__divider--green"></div>
            <img data-src="/images/embel-green.png" alt="Embellishment" width="auto" height="30" class="lazyload">

            <h3 class="tracking-display">
              Share it all with your Friends! </h3>

            <img data-src="/images/embel-green.png" alt="Embellishment" width="auto" height="30" class="lazyload">
            <div class="feat__divider feat__divider--green"></div>
          </div>

          <div class="feat__body feat__body--reverse">
            <div class="feat__col">
              <div class="mediabox ratio-square">
                <img data-lowsrc="/images/feature-4-low.png" data-src="/images/feature-4.png" alt="Feature 4"
                     class="feat__img mediabox-img lazyload">
              </div>
            </div>
            <div class="feat__col">
              <p>
                With a growing list of exciting events, playing with friends has never been more fun! Prove you possess the intelligence of
                Ravenclaw as you conquer the Club Challenge; use the cunning of a Slytherin to confound your opponents in Magical Mischief;
                put on a display of bravery to help Gryffindor climb to the top of the class with House Pride, or demonstrate the loyalty of
                Hufflepuff as you share lives to help your teammates toward victory! </p>
            </div>
          </div>

          <img data-src="/images/flying-yellow-gem.png" alt="Flying yellow gem" class="lazyload gem gem--yellow">

        </div><!-- .feature-4 -->

      </div>
    </section>

    <div class="share">
      <ul class="share__list">
        <li class="share__item">
          <a id="footer-share-facebook" href="https://www.facebook.com/harrypotterpuzzlesandspells/" target="_blank"
             rel="noopener noreferrer">
            <img src="/images/icons/facebook.svg" alt="Facebook" height="45" width="auto">
          </a>
        </li>
        <li class="share__item">
          <a id="footer-share-instagram" href="https://www.instagram.com/harrypotterpuzzlesandspells/" target="_blank"
             rel="noopener noreferrer">
            <img src="/images/icons/instagram.svg" alt="Instagram" height="45" width="auto">
          </a>
        </li>
        <li class="share__item">
          <a id="footer-share-twitter" href="https://twitter.com/hppuzzlesspells/" target="_blank" rel="noopener noreferrer">
            <img src="/images/icons/twitter.svg" alt="Twitter" height="45" width="auto">
          </a>
        </li>
        <li class="share__item">
          <a id="footer-share-email"
             href="mailto:?&subject=Harry Potter Magical Match-3 Puzzle Game | Zynga - Portkey&body=Celebrate the magic of Harry Potter with the new free online match-3 puzzle game! Prepare to master spells and explore the wonders of the Wizarding World.%20https%3A%2F%2Fharrypotterpuzzlesandspells.com">
            <img src="/images/icons/email.svg" alt="Email" height="45" width="auto">
          </a>
        </li>
      </ul>
    </div>
  </main>

  <footer>
    <div class="container">

      <div class="logos">
        <a href="https://www.wbgames.com" target="_blank" rel="noopener noreferrer" class="footer-logo">
          <img data-src="/images/logos/wb.png" alt="Warner Bros." height="110" width="auto" class="lazyload">
        </a>
        <a href="https://www.wizardingworld.com" target="_blank" rel="noopener noreferrer" class="footer-logo">
          <img data-src="/images/logos/wizarding-world.svg" alt="Wizarding World" height="50" width="auto" class="lazyload">
        </a>
        <a href="https://www.portkeygames.com" target="_blank" rel="noopener noreferrer" class="footer-logo">
          <img data-src="/images/logos/portkey-games.svg" alt="Portkey Games" height="50" width="auto" class="lazyload">
        </a>
        <a href="http://zynga.com" target="_blank" rel="noopener noreferrer" class="footer-logo">
          <img data-src="/images/logos/zynga.svg" alt="Zynga" height="50" width="auto" class="lazyload">
        </a>
      </div>

      <small class="footnote">
        WIZARDING WORLD, HARRY POTTER Publishing Rights © J.K. Rowling. HARRY POTTER: PUZZLES & SPELLS, PORTKEY GAMES,<br>
        WIZARDING WORLD and HARRY POTTER characters, names and related indicia © and ™ Warner Bros. Entertainment Inc. (s22) © and ™ Zynga
        Inc. All Rights Reserved.<br><br>
        <img data-src="/images/logos/wb-icon.png" alt="Warner Bros." height="17" width="auto" class="lazyload"
             style="vertical-align: top;"><span style="font-size:104%"> WARNER BROS. INTERACTIVE ENTERTAINMENT LOGO, WB SHIELD: ™ & © Warner
          Bros. Entertainment Inc. (s22)</span>
      </small>

      <img src="/images/footer-embel.png" alt="Embellishment" class="footer-embel footer-embel--left" width="100" height="auto">
      <img src="/images/footer-embel.png" alt="Embellishment" class="footer-embel footer-embel--right" width="100" height="auto">

    </div>
  </footer>
  <div id="overlay" class="overlay" style="opacity:0;">
    <div class="overlay-menu">
      <nav>
        <ul>

          <li>
            <a id="mobile-menu-item-1" href="https://harrypotterpuzzlesandspells.com#home">
              Home
            </a>
          </li>

          <li>
            <a id="mobile-menu-item-2" href="https://harrypotterpuzzlesandspells.com#trailer">
              Trailer
            </a>
          </li>

          <li>
            <a id="mobile-menu-item-3" href="https://harrypotterpuzzlesandspells.com#about">
              About
            </a>
          </li>

          <li>
            <a id="mobile-menu-item-4" href="https://harrypotterpuzzlesandspells.com#features">
              Features
            </a>
          </li>

          <li>
            <a id="mobile-menu-item-5" href="https://harrypotterpuzzlesandspells.com/faq">
              FAQ
            </a>
          </li>

        </ul>
      </nav>
      <div class="share-overlay">
        <ul class="share-overlay__list">
          <li class="share-overlay__item">
            <a id="share-facebook" href="https://www.facebook.com/harrypotterpuzzlesandspells/" target="_blank" rel="noopener noreferrer">
              <img src="/images/icons/facebook.svg" alt="Facebook" height="30" width="auto">
            </a>
          </li>
          <li class="share-overlay__item">
            <a id="share-instagram" href="https://www.instagram.com/harrypotterpuzzlesandspells/" target="_blank" rel="noopener noreferrer">
              <img src="/images/icons/instagram.svg" alt="Instagram" height="30" width="auto">
            </a>
          </li>
          <li class="share-overlay__item">
            <a id="share-twitter" href="https://twitter.com/hppuzzlesspells/" target="_blank" rel="noopener noreferrer">
              <img src="/images/icons/twitter.svg" alt="Twitter" height="30" width="auto">
            </a>
          </li>
          <li class="share-overlay__item">
            <a id="share-email"
               href="mailto:?&subject=Harry Potter Magical Match-3 Puzzle Game | Zynga - Portkey&body=Celebrate the magic of Harry Potter with the new free online match-3 puzzle game! Prepare to master spells and explore the wonders of the Wizarding World.%20https%3A%2F%2Fharrypotterpuzzlesandspells.com">
              <img src="/images/icons/email.svg" alt="Email" height="30" width="auto">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <script src="/js/app.js"></script>

</body>

</html>